@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.main {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 40px 80px;
}

.header {
    font-size: 24px;
    font-weight: 600;
    color: #a4a6a8;
    margin-bottom: 40px;
}

.searchSection {
    border: 2px solid #a4a6a8;
    border-radius: 14px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.searchInner {
    border: 2px solid #a4a6a8;
    border-radius: 14px;
    padding: 10px 30px;
    display: flex;
}

.searchInner:focus-within {
    border: 2px solid #008054d9;
    box-shadow: 0xp 0px 10px #06a36cd9;
}

.searchInner input {
    font-size: 18px;
    margin-left: 15px;
}

.accountsSection {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.cardUserMain {
    border-radius: 14px;
    background-color: #008054d9;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px 10px;
    transition: all .5s;
}

.cardUserMain:hover {
    transform: scale(1.15);
    box-shadow: 0 10px 5px #00000075;
}

.mainData {
    display: flex;
    align-items: center;
}

.mainData img {
    border-radius: 50%;
    margin-right: 5px;
}

.inputData {
    margin-bottom: 5px;
    color: #fff;
}

.inputData img {
    margin-right: 8px;
}

.inputFile {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.inputData input {
    margin-left: 8px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #c3c6c9;
    color: #008054d9;
} 

.inputData input:focus {
    background-color: #fff;
}

.deleteBtnContainer {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.deleteBtn {
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    color: #a4a6a8;
    font-weight: 500;
    transition: all .5s;
}

.deleteBtn:hover {
    color: #fff;
    background-color: #F44336;
}

.extendedInfoContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 7px;
    flex-direction: column;
    position: relative;
}

.btnShowInfo {
    display: flex;
    background-color: transparent;
    font-size: 14px;
    padding: 5px;
    z-index: 0;
}

.saveBtnContainer {
    display: flex;
    justify-content: end;

}

.saveBtnContainer button {
    padding: 10px 15px;
    border-radius: 7px;
    font: inherit;
    font-size: 14px;
    color: #a4a6a8;
    transition: all .5s;
}

.saveBtnContainer button:hover {
    box-shadow: 0 0px 15px #737575fb;
    color: #008054d9;
    transform: scale(1.1);
}

.inputDataExtend {
    display: flex;
    color: #008054d9;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputDataExtend input {
    border-radius: 8px;
    background-color: #c3c6c9;
    padding: 5px 7px;
    margin-left: 5px;
    color: #64686b;
    border: 2px solid transparent;
    transition: all .5s;
}

.inputDataExtend input:focus {
    border: 2px solid #008054d9;
    background-color: transparent;
}

.btnShowInfo p {
    margin-right: 10px;
}

.checkBox {
    padding: 3px;
    width: 50px;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid #a4a6a8;
    text-align: start;
    margin-left: 8px;
}

.checkBoxChecked {
    padding: 3px;
    width: 50px;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid #008054d9;
    text-align: end;
    margin-left: 8px;
}

.filterSection {
    margin-top: 20px;
    color: #a4a6a8;
    font-weight: 500;
    display: inline-flex;
}

.filter {
    padding: 10px 15px;
    border-radius: 14px;
    border: 2px solid #008054d9;
}

.filter p {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid #a4a6a8;
}

.filterPoint {
    display: flex;
    justify-content: space-between;

}

.filterPoint + .filterPoint {
    margin-top: 5px;
} 